@page "/login"
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@inject IJSRuntime JSRuntime;
@using Blazored.FluentValidation
@inject HttpClient Http

<PageTitle>Login</PageTitle>

<div>
    <h1 class="display-3">Login</h1>
</div>
<hr />
@*<EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit">*@
<EditForm Model="@loginModel" OnSubmit="@HandleValidSubmit">
    @*<DataAnnotationsValidator />*@
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <ValidationSummary class="text-danger-email span.text-danger-emai ui.text-danger-email" />

    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="text" class="form-control" id="email" @bind="@loginModel.Email" placeholder="name@example.com">
        <ValidationMessage For="@(() => loginModel.Email)" class="text-danger-email span.text-danger-emai ui.text-danger-email" />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" @bind="@loginModel.Password" placeholder="Password">
        <ValidationMessage For="@(() => loginModel.Password)" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {

    private FluentValidationValidator? _fluentValidationValidator;
    private LoginModel loginModel = new LoginModel();
    private LoginResponse loginResponse;

    //public async Task HandleSubmit()
    //{
    //    await JSRuntime.InvokeVoidAsync("consoleLog", $"email: {loginModel.Email},password: {loginModel.Password}");
    //}

    private async Task HandleValidSubmit()
    {

        if (await _fluentValidationValidator!.ValidateAsync())
        {
            try
            {
                var result = await Http.PostAsJsonAsync<LoginModel>("User/Login", loginModel);
                if (result.IsSuccessStatusCode)
                {
                    loginResponse = await result.Content.ReadFromJsonAsync<LoginResponse>();
                    if (loginResponse is not null)
                    {
                        Console.WriteLine("token is : " + loginResponse.Token);
                    }
                    
                }

            }
            catch (Exception e)
            {
                Console.WriteLine("error is : " + e);
                throw;
            }
        }

        // Handle form submit when validation passed
    }

}
